* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0 auto;
    scroll-behavior: initial;
}

nav {
    height: 12vh;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 5;
    justify-content: space-between;
}

nav .logo {
    height: 100%;
    width: 15%;
}

nav .logo img {
    height: 100%;
    width: 60%;

}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 30px 120px 0 0px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

nav ul li a:hover {
    padding: 5px;
    background-color: rgb(107, 121, 171);
    border-radius: 10px;

}

nav button {
    height: 35px;
    width: 120px;
    font-size: 16px;
    margin: 25px 40px 0 0px;
    border-radius: 10px;
    background-color: rgb(126, 142, 199);
    border: 0;
    outline: 0;
}

nav button a {
    text-decoration: none;
    color: white;

}

nav #bar {
    display: none;
}

.home {
    height: 100vh;
    width: 100%;
    background-image: url(image/portback.png);

}

.container {
    background-color: rgba(27, 32, 50, 0.7);
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

.container .left {
    height: 100%;
    width: 50%;
}

.container .left h1 {
    margin: 30% 0 0 25%;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container .left p {
    font-size: 22px;
    margin: 1% 0 0 25%;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to left,
            violet,
            indigo,
            blue,
            green,
            yellow,
            orange,
            rgb(90, 201, 228));
    -webkit-background-clip: text;
    color: transparent;
}

.container .left pre {
    margin: 2% 0 0 25%;
    color: white;
    font-size: 16px;
    font-family: Arial;
    line-height: 25px;

}

.container .left button {
    height: 40px;
    width: 120px;
    background-color: rgb(126, 142, 199);
    margin: 5% 0 0 25%;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.container .right {
    height: 100%;
    width: 50%;
    align-items: center;
}

.right .blob {
    background-image: url(image/abs.jpg);
    width: 380px;
    height: 380px;
    background-size: cover;
    -webkit-background-position: center;
    background-position: center center;
    margin: 170px 0 0px 25%;
    box-shadow: 0 5px 5px 5px rgba(27, 32, 50, 0.9);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

@keyframes animate {

    0%,
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
}

.skills {
    height: 80vh;
    width: 100%;
    background-color: #1B2032;
    align-items: center;
    display: flex;
    justify-content: space-around;

}

.skills .skill {
    height: 60%;
    width: 28%;
    border: thin solid rgb(75, 69, 91);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.skills .skill:hover {
    box-shadow: 0px 6px 12px 5px rgba(96, 103, 201, 0.2), 0px 10px 30px 5px rgba(82, 71, 181, 0.2);
    border: 1px solid rgb(111, 200, 111);

}

.skills .skill img {
    height: 80px;
    width: 80px;
    margin: 5% 0 0 40%;
}

.skills .skill h2 {
    text-align: center;
    color: white;
}

.skills .skill li {
    margin: 20px 20px 0 20px;
    list-style: none;
    color: white;
    text-align: justify;
}

/*-----------------media query home page iphone 12pro-----------*/
@media only screen and (max-width: 391px) {
    nav {
        height: 8vh;
    }

    nav .logo {
        width: 25%;
    }

    nav .logo img {
        height: 100%;
        width: 100%;
    }

    nav #menu {
        position: absolute;
        display: block;
        width: 100%;
        height: 100vh;
        left: -100%;
        margin-top: 8vh;
        background-color: rgb(65, 174, 217);
    }

    nav #menu li {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    nav #menu li a:hover {
        color: red;

    }

    nav button {
        margin: 17px 10px 0 0px;
    }

    nav #bar {
        display: block;
        width: 15%;
        height: 60%;
        border: 2px solid rgb(118, 212, 118);
        margin: 15px 25px 0 0;
        background-color: transparent;
    }

    nav #bar i {
        background: linear-gradient(to left,
                violet,
                indigo,
                blue,
                green,
                yellow,
                orange,
                rgb(90, 201, 228));
        -webkit-background-clip: text;
        color: transparent;
        font-size: 30px;

    }


    .container {
        display: block;
        position: relative;
    }

    .container .left {
        width: 100%;
        height: 50%;
        margin-top: 50%;
        position: absolute;
    }

    .container .left h1 {
        position: absolute;
        margin: 75% 0 0 45px;
    }

    .container .left p {
        position: absolute;
        margin: 92% 0 0 45px;
    }

    .container .left pre {
        position: absolute;
        margin: 100% 0 0 45px;
    }

    .container .left button {
        margin: 125% 0 0 45px;
    }

    .right .blob {
        position: absolute;
        height: 280px;
        width: 280px;
        margin: 100px 0 0 60px;
    }

    .skills {
        display: block;
        height: 168vh;
        position: absolute;
    }

    .skills .skill {
        position: relative;
        width: 80%;
        height: 48vh;
        margin: 16% 0 0 10%;
    }
    .skills .skill img{
        margin-left: 35%;
    }

}

/*---------------------iphone 14pro max------------*/
@media only screen and (max-width: 431px) {
    nav {
        height: 8vh;
    }

    nav .logo {
        width: 25%;
    }

    nav .logo img {
        height: 100%;
        width: 100%;
    }

    nav #menu {
        position: absolute;
        display: block;
        width: 100%;
        height: 100vh;
        left: -100%;
        margin-top: 8vh;
        background-color: rgb(65, 174, 217);
    }

    nav #menu li {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    nav #menu li a:hover {
        color: red;

    }

    nav button {
        margin: 17px 10px 0 0px;
    }

    nav #bar {
        display: block;
        width: 15%;
        height: 60%;
        border: 2px solid rgb(118, 212, 118);
        margin: 15px 25px 0 0;
        background-color: transparent;
    }

    nav #bar i {
        background: linear-gradient(to left,
                violet,
                indigo,
                blue,
                green,
                yellow,
                orange,
                rgb(90, 201, 228));
        -webkit-background-clip: text;
        color: transparent;
        font-size: 30px;

    }


    .container {
        display: block;
        position: relative;
    }

    .container .left {
        width: 100%;
        height: 50%;
        margin-top: 50%;
        position: absolute;
    }

    .container .left h1 {
        position: absolute;
        margin: 75% 0 0 45px;
    }

    .container .left p {
        position: absolute;
        margin: 92% 0 0 45px;
    }

    .container .left pre {
        position: absolute;
        margin: 100% 0 0 45px;
    }

    .container .left button {
        margin: 125% 0 0 45px;
    }

    .right .blob {
        position: absolute;
        height: 280px;
        width: 280px;
        margin: 100px 0 0 60px;
    }

    .skills {
        display: block;
        height: 168vh;
        position: absolute;
    }

    .skills .skill {
        position: relative;
        width: 80%;
        height: 48vh;
        margin: 16% 0 0 10%;
    }
    .skills .skill img{
        margin-left: 37%;
    }
}
/*-------------------projects CSS-------------------*/
.project {
    height: 170vh;
    width: 100%;
    background-color: hsl(227, 30%, 15%);
    font-size: larger;
    color: white;
    border-bottom: 1px solid gray;
}

.project h1 {
    text-align: center;
}

.project .pr1 {
    height: 28%;
    width: 70%;
    background-color: #212636;
    margin: 2% 0 0 15%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project .pr1 {
    width: 70%;
    display: flex;
}

.project .pr1 .left {
    width: 60%;
    height: 100%;
}

.project .pr1 .right {
    width: 40%;
    height: 100%;
}

.project .pr1 .right img {
    height: 85%;
    width: 90%;
    background-position: center;
    margin: 5% 0 0 5%;
}


.project .pr1 .left b {
    font-size: 40px;
    position: absolute;
    margin: 20px 0 0 20px;
    font-family: Arial;
    color: blueviolet;
    text-align: left;
    border: 2px solid blueviolet;
}

.project .pr1 .left h1 {
    margin-top: 25px;
    font-family: arial;
}

.project .pr1 .left p {
    margin: 30px 50px 0 50px;
}

.project .pr1 .left pre {
    margin: 20px 50px 0 50px;
}

.project .pr1 .left button {
    margin: 30px 50px 0 50px;
    height: 35px;
    width: 100px;
    font-size: 16px;
    border-radius: 5px;
    background-color: darkorchid;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
}

.project .pr1 .left a {
    margin: 40px 50px 0 200px;
    color: white;
}


.project #pr2 .left {
    width: 40%;
}

.project #pr2 .left img {
    height: 85%;
    width: 90%;
    background-position: center;
    margin: 5% 0 0 5%;
}

.project #pr2 .right {
    width: 60%;
}

.project #pr2 .right b {
    font-size: 40px;
    position: absolute;
    margin: 20px 0 0 20px;
    font-family: Arial;
    color: blueviolet;
    text-align: left;
    border: 2px solid blueviolet;
}

.project #pr2 .right h1 {
    margin-top: 25px;
    font-family: arial;
}

.project #pr2 .right p {
    margin: 30px 50px 0 50px;
}

.project #pr2 .right pre {
    margin: 20px 50px 0 50px;
}

.project #pr2 .right button {
    margin: 20px 50px 0 50px;
    height: 35px;
    width: 100px;
    font-size: 16px;
    border-radius: 5px;
    background-color: darkorchid;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
}

.project #pr2 .right a {
    margin: 40px 50px 0 200px;
    color: white;
}




/*-------------------media query projects iphone 12pro---------------*/

@media only screen and (max-width: 391px) {
    .project {
        margin-top: 168vh;
        height: 240vh;
        width: 100%;
    }

    .project .pr1 {
        display: block;
        margin:15% 5% 0 5%;
        width: 90%;

    }

    .project .pr1 .left {
        width: 100%;
        height: 50%;
        position: relative;
    }

    .project .pr1 .left b {
        font-size: 20px;
    }

    .project .pr1 .left h1 {
        font-size: 25px;
        position: absolute;
        margin: 20px 0 0 70px;
    }

    .project .pr1 .left p {
        margin: 20% 8% 0 5%;
        text-align: justify;
        position: absolute;
    }

    .project .pr1 .left pre {
        margin: 55% 0 0 5%;
        position: absolute;
        text-align: justify;

    }
    .project .pr1 .left a{
        margin: 72% 0 0 78%;
        position: absolute;
    }
    .project .pr1 .left button{
        margin: 70% 0 0 5%;
        position: absolute;
    }
    .project .pr1 .right {
        width: 100%;
        height: 50%;
    }
    .project #pr2{
        display: block;
        width: 90%;
        margin: 15% 5% 0 5%;
    }
    .project #pr2 .left{
        width: 100%;
        height: 50%;

    }
    .project #pr2 .right b{
        font-size: 20px;
    }
    .project #pr2 .right h1{
        font-size: 25px;
        position: absolute;
        margin: 20px 0 0 70px;
    }
    .project #pr2 .right p{
        margin: 18% 10% 0 5%;
        text-align: justify;
        position: absolute;
    }
    .project #pr2 .right pre{
        margin: 50% 0 0 5%;
        position: absolute;
    }

    .project #pr2 .right button{
        margin: 60% 0 0 5%;
        position: absolute;
    }


    .project #pr2 .right a{
        margin: 62% 0 0 70%;
        position: absolute;
    }

    }


    /*-------------------media query projects iphone 14pro max---------------*/

@media only screen and (max-width: 431px) {
    .project {
        margin-top: 168vh;
        height: 240vh;
        width: 100%;
    }

    .project .pr1 {
        display: block;
        margin:15% 5% 0 5%;
        width: 90%;

    }

    .project .pr1 .left {
        width: 100%;
        height: 50%;
        position: relative;
    }

    .project .pr1 .left b {
        font-size: 20px;
    }

    .project .pr1 .left h1 {
        font-size: 25px;
        position: absolute;
        margin: 20px 0 0 70px;
    }

    .project .pr1 .left p {
        margin: 20% 8% 0 5%;
        text-align: justify;
        position: absolute;
    }

    .project .pr1 .left pre {
        margin: 55% 0 0 5%;
        position: absolute;
        text-align: justify;

    }
    .project .pr1 .left a{
        margin: 72% 0 0 78%;
        position: absolute;
    }
    .project .pr1 .left button{
        margin: 70% 0 0 5%;
        position: absolute;
    }
    .project .pr1 .right {
        width: 100%;
        height: 50%;
    }
    .project #pr2{
        display: block;
        width: 90%;
        margin: 15% 5% 0 5%;
    }
    .project #pr2 .left{
        width: 100%;
        height: 50%;

    }
    .project #pr2 .right b{
        font-size: 20px;
    }
    .project #pr2 .right h1{
        font-size: 25px;
        position: absolute;
        margin: 20px 0 0 70px;
    }
    .project #pr2 .right p{
        margin: 18% 10% 0 5%;
        text-align: justify;
        position: absolute;
    }
    .project #pr2 .right pre{
        margin: 50% 0 0 5%;
        position: absolute;
    }

    .project #pr2 .right button{
        margin: 60% 0 0 5%;
        position: absolute;
    }


    .project #pr2 .right a{
        margin: 62% 0 0 70%;
        position: absolute;
    }

    }
    /*--------------------Footer-----------------*/

    footer {
        width: 100%;
        height: 15vh;
        background-color:#1B2032;
    }
    footer .footer{
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: space-around;
        color: white;

    }
    footer .footer .socialmedia{
        height: 100%;
        width: 30%;
    }
    footer .footer .socialmedia i{
        font-size: 25px;
    }
    footer .socialmedia #fb{
        color: blue;
        background-color: white;
        margin:20px 0 0 60px;
    }
    footer .footer .socialmedia #in{
        color: transparent;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background-clip: text;
        -webkit-background-clip: text;
        margin:20px 0 0 30%;
    }
    footer .footer .socialmedia #gt{
        color: rgb(9, 9, 10);
        margin:20px 0 0 60px;
        background-color: white;
    }
    footer .footer .socialmedia #ln{
        color: blue;
        margin:20px 0 0 30%;
        background-color: white;
    }
    footer .footer .socialmedia #hr{
        color: rgb(10, 83, 20);
        margin:20px 0 0 60px;
        background-color: white;
    }
    footer .footer .socialmedia #tw{
        color: blue;
        margin:20px 0 0 30%;
    }
    footer .copyright{
        text-align: center;
        font-size: 16px;
        margin-top: 10px;
        color: gray;
    }
    
    /*--------------Footer Media Query iphone 14pro max----------------*/
    @media only screen and (max-width: 431px) {
        footer{
            height: 30vh;
        }
        footer .footer{
            display: block;
            height: 70%;
        }
        footer .footer .socialmedia{
            width: 100%;
            height: 30%;
        }
        footer .footer .socialmedia #in{
            margin-left: 90px;
        }
        footer .footer .socialmedia #ln{
            margin-left: 105px;
        }
        footer .footer .socialmedia #tw{
            margin-left: 76px;
        }
    }
